<div class="d-flex justify-content-center">
    <div class="col-md-7 p-0 card-right">
        <div class="card tab2-card">
            <div class="card-body">
                <ngb-tabset class="tab-coupon mb-0">
                    <ngb-tab>
                        <ng-template ngbTabTitle><i class="icon-user mr-2"></i>Reset Password</ng-template>
                        <ng-template ngbTabContent>
                            <div class="tab-pane fade active show" id="account" role="tabpanel"
                                aria-labelledby="account-tab">
                                <form [formGroup]="loginForm" class="form-horizontal auth-form" novalidate="">
                                    <div class="form-group">
                                        <input required="" type="password" class="form-control"
                                            placeholder="New Password" id="exampleInputEmail1" formControlName="email">
                                        <div *ngIf="loginForm.controls['email'].hasError('required') || loginForm.controls['email'].hasError('hasSpecialCharacters') ||loginForm.controls['email'].hasError('minlength') || loginForm.controls['email'].hasError('hasSmallCase') || loginForm.controls['email'].hasError('hasCapitalCase') || loginForm.controls['email'].hasError('hasNumber')"
                                            class="text-danger">
                                            Must contain at least 8 characters, 1 number, 1 special
                                            character, 1 lowercase and 1 uppercase!
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input required="" type="password" class="form-control"
                                            placeholder="Confirm Password" formControlName="password">
                                        <div *ngIf="loginForm.controls['password'].hasError('required') || loginForm.controls['password'].hasError('hasSpecialCharacters') ||loginForm.controls['password'].hasError('minlength') || loginForm.controls['password'].hasError('hasSmallCase') || loginForm.controls['password'].hasError('hasCapitalCase') || loginForm.controls['password'].hasError('hasNumber')"
                                            class="text-danger">
                                            Must contain at least 8 characters, 1 number, 1 special
                                            character, 1 lowercase and 1 uppercase!
                                        </div>
                                    </div>
                                    <div class="form-button">
                                        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"
                                            (click)="onLogin()">Reset
                                            Password</button>
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>